
@{
    ViewBag.Title = "Problem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Problem</h2>
<div>
    @ViewBag.ProductIDerror
</div>
<div>
    @Html.ActionLink("Back to Order Detail","Details","Orders",new {id = ViewBag.orderid}, null)
</div>

